.PRODUCT{
    width: 250px;
    background-color: white;
    height: 300px;;
}

@media screen and (max-width:500px) {
    .PRODUCT{
        width: 48%;
        height: 300px;
        background-color: transparent;
    }
    .left-side{
        display: none;
    }
    .HR{
        border-bottom: 0px;
    }
}
.main{  
    display: flex;
}
.left-side{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 100px;
    /* border: 6px solid orange; */
    border-top: 0px;
    border-bottom: 0px;
    /* width: max-content; */
    /* width: 300px; */
    /* margin-left: 130px; */
    padding: 5px 10px;
    height: max-content;
}
.right-side{
    flex: 3;
    /* border: 2px solid blue; */
    /* border: 2px solid orange; */
}
.c-name{
    border-bottom: 2px solid orange;
    width: max-content;
}
.cat:hover{
    border-bottom: 2px solid orange;
    cursor: pointer;
    transition: all .3s linear;
}